  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
      box-sizing: border-box;
  }
*{
    border: none;
    margin: 0;
    padding: 0;
    letter-spacing:.1rem;
    font: inherit;
    font-family: 'Poppins', sans-serif;
}
img {
    display: block;
    max-width: 100%;
}
::selection{
    background-color: white;
    color: black;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
menu,
ol,
ul {
    padding-left: 0;
}
article ol,
article ul {
    list-style-position: inside;
}
a {
    text-underline-position: under;
    text-decoration-thickness: 8;
}
@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
    scroll-snap-type:y mandatory;
  }
  
:focus:not(:focus-visible) {
    outline: none;
}
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #147efb;
}
body{
    overflow-x:hidden;
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    overflow-x: hidden;
}
:root{
    --primary-color : 'black';
    --secondary-color : "white";

    --primary-background-color : 'white';
}
.sec1,.sec2,.sec3,.sec4{
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2.4rem 5rem;
    font-weight:600;
    background-color:transparent;
    transition: background-color 0.3s ease;
}

.headerSec1{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    
}
.logo a{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logo a:hover{
    color: lime;
}
nav .navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
}
.navLinks a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform:capitalize;
}
.navLinks a:hover{
    color: #000000;
    border-bottom: 1px solid #000000;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    padding-top: 4rem;
    scroll-snap-align: start;
}
.sec1 .container .firstDiv{
    display: flex;
    justify-content:center;
    gap: 5rem;
}
.sec1 .container .firstDiv .textContent1{
    position: relative;
}
.sec1 .container .firstDiv .textContent1 .heading1{
    display: flex;    
}

.sec1 .container .firstDiv .textContent1 .heading1 h1{
    font-size: 5rem;
    font-weight: 700;
    width: 15ch;
}
.sec1 .container .firstDiv .textContent1 .heading1 span{
    position: absolute;
    top:8.5rem;
    left: 29rem;
    animation: myAnim 3s ease 0s 10000 normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
.sec1 .container .firstDiv .textContent1 p{
    font-size: 1.8rem;
    width: 50ch;
    font-weight: 500;
    padding: 2rem 0rem;
    opacity: .7;
}
.sec1 .container .firstDiv .socialLinks{
    margin-top: 2rem;
}
.sec1 .container .firstDiv .socialLinks a{
    color: black;
    text-decoration: none;
    font-size: 3rem; 
}
.sec1 .container .firstDiv .textContent1 .socialLinks a:hover{
    color: #147efb;
}
.textContent1 .socialLinks .linkedin{
    margin-right: .8rem;
}
.sec1 .container .secondDiv{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.secondDiv .textContent2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.secondDiv .textContent2 h3{
    font-size: 2rem;
    font-weight: 500;
    opacity: .9;
}
.secondDiv .textContent2 span{
    font-size: 2rem;
    opacity: .8;
}
 .icons{
    margin-left: 5rem;
}
 .icons  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
 .icons li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    background-color:#000000;
    border-radius: 50%;
    list-style: none;
}
 .icons li img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* .imgDiv {
    /* opacity: 1;
    margin-top: -2rem;
    animation: morph 8s ease-in-out infinite;
    background-image: url("./images/lifestyle-man-working-with-laptop-and-sitting-in-chair-1.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:330px;
    border: 3px solid #080808;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
    filter: brightness(1.1); */
    /* background-image: url("https://ouch-cdn2.icons8.com/bH0cgFcxJVSp6U5qXCFW7H6f3_9kDwEL8lo78zFdn8M/rs:fit:368:1167/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNDQ5/L2JiY2RmOWQwLTQ0/MDktNGI3Yi1hMTNi/LWJmNzgyNjE0Mzdi/OS5wbmc.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:330px;
    height: 30rem;
    width: 30rem; */
  /* } */ 
  .imgDiv img{
    filter: drop-shadow(0 0 0.75rem #f7f8f779)
    contrast(1.3) ;

  }
  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
.sec2{
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(100deg, #000000 0%, #7f8c8d 74%);
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    scroll-snap-align:center;

    & #resumeBtn{
        padding:.5rem 1rem;
        margin: 2rem 0;
        font-size: 1.5rem;
        border-radius: 90px;
        border: 2px solid #000000;
        background: transparent;
        font-weight: 500;
        color: black;
        display: flex;
        align-items: center;
        gap: .5rem;
        justify-content: center;
        transition: all .2s;
    }
    #resumeBtn:hover{
        border: 2px solid #ffffff;
        color: #ffffff;
    }

    & .aboutImage{
     position: relative;
    }
    & .aboutImage span{
    position:absolute;
    background-color:#ffffff;
    border-radius: 50%;
    bottom: -50px;
    height: 17rem;
    right: -58px;
    width: 17rem;
    }
    & .aboutImage span img{
        animation: rotate 9s linear infinite;
        width: 16.5rem;
        position: absolute;
        top: -98px;
        left: 4px;
    }
    & .boy{
        position: absolute;
        bottom: 5px;
        left: 348px;
        z-index: 100;
        width: 7rem;
        height: auto;
    }
    & img{
      width: 43rem;
       height: 38em;
      border-radius:20%;
    }

    .aboutContent {
        padding: 1rem;

       & h1{
            font-size: 2rem;
            font-weight: 900;
            opacity: .9;
            color: #000000;
        }
        & .aboutH3{
            display: flex;
            width: 100%;
            padding: .5rem 0;
            
        }
        & h3{
            font-size: 2.5rem;
            font-weight: 700;
            width: 30ch; 
            opacity: .9;
        }
        & p{
            font-size: 1.4rem;
            width: 50ch;
            font-weight: 500;
            opacity: .6;
        }
    }
}
@keyframes rotate {
    
    100%{
        transform: rotate(1turn);
    }
}

.sec3{
    height: 100%;
    background-color: #000000;
    background-image: linear-gradient(220deg, #000000 0%, #7f8c8d 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    & .content {
        padding: 12rem;
    }
    & .projectHeading{
        padding: 5rem 3rem;

        & h2{
            color: #ffffff;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            opacity: .9;
        }
        & h1{
            font-size: 2.5rem;
            font-weight: 700;
            opacity: .8;
            color: #ffffff;
        }
    }
    & .projectCards{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
    }
    & .card{
        padding: 2rem;
        background-color:rgb(240, 246, 249);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        height:auto;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & .projectImage {
            height:30rem;
            width: 30rem;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        & .projectImage img{
            width: 100%;
            height: 100%;
            text-align: center;
        }
        & .projectContent{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50rem;
            gap: 2rem;
            justify-content: center;
            & h1{
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 900;
            }
            & .icons{
                margin: 0;
            }
            & p{
                font-weight: 600;
                font-size: 1.8rem;
                width:30ch;
                text-align: center;
                opacity: .8;
            }
            & .live a{
                text-decoration: none;
                color: black;
                font-weight: 700;
                font-size: 1.8rem;
                margin-right: 2rem;
            }
        }
    }
}
.sec4{
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #7f8c8d 74%);
    scroll-snap-align: start;

    & .upper{
        padding:0 0 10rem 20rem;
        display: flex;
        flex-direction: column;

       & h2{
        font-size: 1.8rem;
        font-weight: 700;
        color: #000000;
        margin-bottom: 1rem;
        opacity: .9;
        }
       & h1{
        opacity: .9;
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        }

        & .loMa{
            display: flex;
            width: 100%;
            gap: 5rem;
            margin-top: 2.5rem;

            & .location , & .mail{
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                gap: 2rem;
                font-weight: 700;

                & .icon{
                    /* background-color: #FFFFFF; */
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    padding: 1.5rem;
                    background-color: #000000;
                    color: #147efb;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                & .text .secondtext{
                    opacity: .7;
                }
            }
        }
       
    }
    & .lower{
        background-color: #1a1a1b;
        padding: 5rem 22rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        
        & h1{
            color: rgb(255, 255, 255);
            font-weight: 500;
        }
        & .socialLinks{
            & a{
                text-decoration: none;
                color: #147efb;
                font-size: 2.7rem;
                cursor: pointer;
                margin-right: .7rem;
            }
            & i:hover{
                color: #147efb;
                transform: scale(1.2);
                /* transition: all .2s ease; */
            }
        }
    }
}


@media screen and (max-width:400px) {
    html{
        font-size: 30%;
    } 
    .sec1{
        padding: 1rem;
        .firstDiv{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            .textContent1{
                & p{
                    margin-top: 3rem;
                }
            }
            .textContent1 img{
                width: 10rem;
               
            }
        }
       .secondDiv{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            & span{
                display: none;
            }
        }
    }
    .sec2{
        display: flex;
        flex-direction: column;
        align-items:center;
         & img{
            margin-right: 6rem;
         }
        .aboutImage .boy , .aboutImage span{
            display: none;
        }
    }
    .sec3{
       
       .content {
           .card{
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
       }
    }
    .sec4{
        .loMa{
            flex-direction: column;
        }

        .lower{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}